<div class="jumbotron mx-auto info">
  <h1>{{title}}</h1>
</div>

<h1>Burgers!</h1>

<div class="row">
  <div class="col-md-6 col-12">
    <div class="card list-container">
      <ul id="available-items" class="simple_with_animation">
          {{#each burgers}}
            {{#unless devoured}}
              {{> burgers/burger-block devoured=false}}
            {{/unless}}
          {{/each}}
        </ul>
    </div>
  </div>

  <div class="col-md-6 col-12">
    <div class="card  list-container">
      <ul id="devoured-items" class="simple_with_animation">
        {{#each burgers}}
          {{#if devoured}}
            {{> burgers/burger-block devoured=true}}
          {{/if}}
        {{/each}}
      </ul>
    </div>
  </div>

</div>
<div class="row">
  {{>burgers/burger-create}}
</div>
<hr>
<div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
