body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.jumbotron {
  /* background-color: lightgreen; */
  border: 1px solid black;
  border-radius: .3em;
  text-align: center;
}
/*  for making items dragable */

body.dragging, body.dragging * {
  cursor: move !important;
}

.dragged {
  position: absolute;
  opacity: 0.5;
  z-index: 2000;
}

ul.example li.placeholder {
  position: relative;
  /** More li styles **/
}
ul.example li.placeholder:before {
  position: absolute;
  /** Define arrowhead **/
}




.burger-list-card {
  max-width: 300px;
  margin: 0 auto;
  /* padding-top: 30px; */
}

ul.burger-list  {
  list-style-type: none;
}

ul li {
  /* line-height: 3; */
  width: 200px;
  font-size: 18px;
  border: 1px solid black;
  /* padding: 5px auto; */
  text-align: center;
  /* margin-bottom: 1em; */

  /* padding:  */
  padding-top: 1em;
  padding-bottom: 1em;

}

ul#available-items li {
  margin-bottom: 1em;
  border-radius: .3em;
}

ul#devoured-items li {
  margin-bottom: .3em;
}


.change-item {
  float: right;
  margin-top: 0em;
  margin-right: 1em;
  color: #bbb;
}

.change-item:hover {
  color : #000;
  cursor: pointer;
}

ul#available-items li:hover{
  cursor: grabbing;
  /* background: cyan; */
  cursor: move;
  box-shadow: 0 3px 5px #333;
  /* cursor: url("../images/drag.svg"); */
  /* cursor: grab; */
}

.form-check-label {
  margin-right: 3em;
}

/* from  https://resoundingechoes.net/development/style-draggable-elements-indicate-draggability/ */
.draggable-indicator {
	width: 16px;
	height: 16px;

	/* position: absolute; */
	/* right: 5em; */
	float: left;
	margin-left: .5em;
	/* margin-top: 1em; */

	/* top: 0; */
	/* bottom: 0; */
	/* margin: auto; */
	/* left: 30px; */
}

/* coloring the individual dots within each group */
.draggable-indicator rect {
	fill: #ccc;
}

 .burger-lists-row {
   margin-bottom: 20px;
 }
