<div class="burger-create card">
  <div class="card-header">

<h2>Add a Burger</h2>
</div>
<div class="card-body">
<form class="create-form">
  <div class="form-group">
    <label for="burger-name">Burger Name:</label>
    <input class="form-control" tabindex="1" type="text" id="burger-name" name="name">
  </div>

  <label for="devoured">Devoured yet?</label><br>
  <div class="form-group form-check form-check-inline">
    <input class="form-check-input" type="radio" name="devoured" id="devoured-false" value=false checked>
    <label class="form-check-label" tabindex="2" for="devoured-false">Ready to Eat! </label>
    <!-- <br> -->
    <input class="form-check-input" type="radio" name="devoured" id="devoured-true" value=true>
    <label class="form-check-label" tabindex="3" for="devoured-false">Already eaten</label>
  </div><br>
  <button class="btn btn-primary" tabindex="4" type="submit">Add Burger</button><br>
  <small id="submit-help">Add a burger you want to eat and hit the "Add Burger" button!</small>
</form>
</div>
</div>
